Implement ICMPv6 messages encoder/decoder

- [x] `1` Destination Unreachable [RFC4443]
- [x] `2` Packet Too Big [RFC4443]
- [x] `3` Time Exceeded [RFC4443]
- [ ] `4` Parameter Problem [RFC4443]
- [ ] `100` Private experimentation [RFC4443]
- [ ] `101` Private experimentation [RFC4443]
- [x] `128` Echo Request [RFC4443]
- [x] `129` Echo Reply [RFC4443]
- [ ] `130` Multicast Listener Query [RFC2710]
- [ ] `131` Multicast Listener Report [RFC2710]
- [ ] `132` Multicast Listener Done [RFC2710]
- [ ] `133` Router Solicitation [RFC4861]
- [ ] `134` Router Advertisement [RFC4861]
- [ ] `135` Neighbor Solicitation [RFC4861]
- [ ] `136` Neighbor Advertisement [RFC4861]
- [ ] `137` Redirect Message [RFC4861]
- [ ] `138` Router Renumbering [RFC2894]
- [ ] `139` ICMP Node Information Query [RFC4620]
- [ ] `140` ICMP Node Information Response [RFC4620]
- [ ] `141` Inverse Neighbor Discovery Solicitation Message [RFC3122]
- [ ] `142` Inverse Neighbor Discovery Advertisement Message [RFC3122]
- [ ] `143` Version 2 Multicast Listener Report [RFC3810]
- [ ] `144` Home Agent Address Discovery Request Message [RFC6275]
- [ ] `145` Home Agent Address Discovery Reply Message [RFC6275]
- [ ] `146` Mobile Prefix Solicitation [RFC6275]
- [ ] `147` Mobile Prefix Advertisement [RFC6275]
- [ ] `148` Certification Path Solicitation Message [RFC3971]
- [ ] `149` Certification Path Advertisement Message [RFC3971]
- [ ] `150` "ICMP messages utilized by experimental mobility protocols such as Seamoby" [RFC4065]
- [ ] `151` Multicast Router Advertisement [RFC4286]
- [ ] `152` Multicast Router Solicitation [RFC4286]
- [ ] `153` Multicast Router Termination [RFC4286]
- [ ] `154` FMIPv6 Messages [RFC5568]
- [ ] `155` RPL Control Message [RFC6550]
- [ ] `156` ILNPv6 Locator Update Message [RFC6743]
- [ ] `157` Duplicate Address Request [RFC6775]
- [ ] `158` Duplicate Address Confirmation [RFC6775]
- [ ] `159` MPL Control Message [RFC7731]
- [ ] `160` Extended Echo Request [RFC8335]
- [ ] `161` Extended Echo Reply [RFC8335]
- [ ] `200` Private experimentation [RFC4443]
- [ ] `201` Private experimentation [RFC4443]