Implement remaining ICMP message types

- [x] `0` Echo Reply [RFC792]
- [x] `3` Destination Unreachable [RFC792]
- [ ] `4` Source Quench (Deprecated) [RFC792] [RFC6633]
- [x] `5` Redirect [RFC792]
- [ ] `6` Alternate Host Address (Deprecated) [RFC6918]
- [x] `8` Echo [RFC792]
- [ ] `9` Router Advertisement [RFC1256]
- [ ] `10` Router Solicitation [RFC1256]
- [ ] `11` Time Exceeded [RFC792]
- [ ] `12` Parameter Problem [RFC792]
- [x] `13` Timestamp [RFC792]
- [x] `14` Timestamp Reply [RFC792]
- [ ] `15` Information Request (Deprecated) [RFC792] [RFC6918]
- [ ] `16` Information Reply (Deprecated) [RFC792] [RFC6918]
- [ ] `17` Address Mask Request (Deprecated) [RFC950] [RFC6918]
- [ ] `18` Address Mask Reply (Deprecated) [RFC950] [RFC6918]
- [ ] `30` Traceroute (Deprecated) [RFC1393] [RFC6918]
- [ ] `31` Datagram Conversion Error (Deprecated) [RFC1475] [RFC6918]
- [ ] `32` Mobile Host Redirect (Deprecated) [RFC6918]
- [ ] `33` IPv6 Where-Are-You (Deprecated) [RFC6918]
- [ ] `34` IPv6 I-Am-Here (Deprecated) [RFC6918]
- [ ] `35` Mobile Registration Request (Deprecated) [Simpson] [RFC6918]
- [ ] `36` Mobile Registration Reply (Deprecated) [Simpson] [RFC6918]
- [ ] `37` Domain Name Request (Deprecated) [RFC1788] [RFC6918]
- [ ] `38` Domain Name Reply (Deprecated) [RFC1788] [RFC6918]
- [ ] `39` SKIP (Deprecated) [RFC6918]
- [ ] `40` Photuris [RFC2521]
- [ ] `41` ICMP messages utilized by experimental mobility protocols such as Seamoby [RFC4065]
- [ ] `42` Extended Echo Request [RFC8335]
- [ ] `43` Extended Echo Reply [RFC8335]
- [ ] `253` RFC3692-style Experiment 1 [RFC4727]
- [ ] `254` RFC3692-style Experiment 2 [RFC4727]

Question is whether we should implement parsers for deprecated messages.